@page "/login"
@inject NavigationManager NavigationManager
@inject FirebaseAuthService AuthService


@if (!isAuthenticated)
{
    <div class="card text-center">
        <div class="card-header">
            Accede a tu consultorio digital
        </div>
        <div class="card-body">
            <div class="login-container">
                <h2 class="login-title">Bienvenido a Consultorio Integral Web</h2>
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-12 d-flex justify-content-center align-items-center">
                            <label class="login-label me-2">Correo electrónico</label>
                            <InputText class="login-input form-control w-50" @bind-Value="email" placeholder="tu@email.com" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 d-flex justify-content-center align-items-center">
                            <label class="login-label me-2">Contraseña</label>
                            <InputText class="login-input form-control w-50" @bind-Value="password" placeholder="••••••••" type="password" />
                        </div>
                    </div>
                    <div class="login-actions-horizontal">
                        <button class="btn-login" @onclick="Loguear">
                            Iniciar sesión
                        </button>
                        <button class="btn-register" @onclick="RegisterMe">
                            Registrarse
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            Desarrollo Bases de Datos I - TSDS 
        </div>
    </div>
}
else
{
    <div class="card text-center">
        <div class="card-header">
            Finalizar sesión en Consultorio Integral Web
        </div>
        <div class="card-body">
            <button class="btn-login" @onclick="Desloguear">Cerrar sesión</button>
        </div>
        <div class="card-footer text-body-secondary">
            Desarrollo Base de datos I - TSDS 
        </div>
    </div>
}

@code {
    private bool isAuthenticated = false;
    private string email = string.Empty;
    private string password = string.Empty;

    private async Task Loguear()
    {
        var userId = await AuthService.SignInWithEmailPassword(email, password);
        if (string.IsNullOrEmpty(userId))
        {
            return;
        }
        isAuthenticated = await AuthService.IsUserAuthenticated();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await AuthService.IsUserAuthenticated();
    }

    private async Task Desloguear()
    {
        AuthService.SignOut();
        isAuthenticated = false;
        StateHasChanged();
    }

    private void RegisterMe()
    {
        NavigationManager.NavigateTo($"/signin");
    }
}
