@page "/login"
@inject NavigationManager NavigationManager
@inject FirebaseAuthService AuthService


@if (!isAuthenticated)
{
    <div class="card text-center">
        <div class="card-header">
            Accede a tu consultorio digital
        </div>
        <div class="card-body">
            <div class="login-container">
                <h2 class="login-title">Bienvenido a Consultorio Integral Web</h2>
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-12 d-flex justify-content-center align-items-center">
                            <label class="form-label me-2">Correo electrónico</label>
                            <InputText class="form-control w-50" @bind-Value="email" placeholder="tu@email.com" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 d-flex justify-content-center align-items-center">
                            <label class="form-label me-2">Contraseña</label>
                            <InputText class="form-control w-50" @bind-Value="password" placeholder="••••••••" type="password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center gap-2">
                            <button class="btn btn-primary" @onclick="Loguear">Iniciar Sesión</button>
                            <button class="btn btn-secondary" @onclick="RegisterMe">Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            Desarrollo Bases de Datos I - TSDS 
        </div>
    </div>
}
else
{
    <div class="card text-center">
        <div class="card-header">
            Cerrar sesión
        </div>
        <div class="card-body">
            <p class="card-header">Cerrar sesión de Consultorio Integral Web</p>

            <button class="btn btn-primary" @onclick="Desloguear">Cerrar sesión</button>
        </div>
        <div class="card-footer text-body-secondary">
            Desarrollo Base de datos I - TSDS 
        </div>
    </div>
}

@code {
    private bool isAuthenticated = false;
    private string email;
    private string password;

    private async Task Loguear()
    {
        var userId = await AuthService.SignInWithEmailPassword(email, password);
        if (string.IsNullOrEmpty(userId))
        {
            return;
        }
        //GenericService<object>.jwtToken = jwt;
        isAuthenticated = await AuthService.IsUserAuthenticated();
        StateHasChanged();

        //NavigationManager.NavigateTo($"/");
    }



    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await AuthService.IsUserAuthenticated();
    }

    private async Task Desloguear()
    {
        AuthService.SignOut();
        isAuthenticated =false;
        StateHasChanged();
        //NavigationManager.NavigateTo($"/");
    }

    //Esto lleva al usuario a la página de registro cuando quiere registrarse
    private void RegisterMe()
    {
        NavigationManager.NavigateTo($"/signin");
    }
}
