@page "/signin"
@inject NavigationManager NavigationManager
@inject FirebaseAuthService AuthService
@inject SweetAlertService SweetAlert


<div class="card text-center">
    <div class="card-header">
        Accede a tu consultorio digital
    </div>
    <div class="card-body">
        <div class="signin-container">
            <h2 class="signin-title">Registro</h2>
            <form class="form-horizontal">
                <div class="login-form-group">
                    <label class="login-label" for="Nombre">Nombre completo</label>
                    <InputText id="Nombre" class="login-input form-control w-50" @bind-Value="name" placeholder="Tu nombre y apellido" />
                </div>
                <div class="login-form-group">
                    <label class="login-label" for="email">Correo electrónico</label>
                    <InputText type="text" id="email" class="login-input form-control w-50" @bind-Value="email" placeholder="tu@email.com" />
                </div>
                <div class="login-form-group">
                    <label class="login-label" for="password">Contraseña</label>
                    <InputText type="password" id="password" class="login-input form-control w-50" @bind-Value="password" placeholder="••••••••" />
                </div>
                <div class="login-form-group">
                    <label class="login-label" for="passwordverify">Verificar contraseña</label>
                    <InputText type="password" id="passwordverify" class="login-input form-control w-50" @bind-Value="passwordverify" placeholder="••••••••" />
                </div>
                <div class="login-actions-horizontal">
                    <button type="button" class="btn-login" @onclick="Register">Enviar</button>
                    <button type="button" class="btn-register" @onclick="Cancel">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer text-body-secondary">
        Desarrollo Bases de Datos I - TSDS
    </div>
</div>


@code {
    private string name;
    private string email;
    private string password;
    private string passwordverify;

    private async Task Register()
    {
        if (password != passwordverify)
        {
            await SweetAlert.FireAsync("Error", "Las contraseñas no coinciden", SweetAlertIcon.Error);
            return;
        }
        
        var userId = await AuthService.createUserWithEmailAndPassword(email, password, name);
        if(userId!=null)
        {
            await SweetAlert.FireAsync("Registro exitoso", "Usuario registrado correctamente, bienvenido", SweetAlertIcon.Success);
            NavigationManager.NavigateTo($"/");
        }
        else
        {
            await SweetAlert.FireAsync("Error", "Error al registrar el usuario", SweetAlertIcon.Error);
        }
        StateHasChanged();
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/login");
    }
}
